<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Finder</title>
    <link rel="stylesheet" href="/css/homePage.css">
</head>

<body>
    <h1><a href="/" style="text-decoration: none; color: blue;">News Finder</a></h1>

    <p class="page-links">
        <% for (let i=0; i < 10; i++) { %>
            <a href="/?p=<%= i %>" class="<%= (i === currentPage) ? 'active' : '' %>">
                <%= i %>
            </a>
            <%= (i < 9) ? '|' : '' %>
                <% } %>
    </p>

    <div class="search-box">
        <form action="/find" method="GET">
            <input type="text" name="subtitle" placeholder="Find news..." required>
            <button type="submit">Find</button>
        </form>
        <p>Datetime: <%= currentTime %>
        </p>
        <p>Total Execute Time: <%= executionTime %> milliseconds</p>
    </div>

    <div class="news-container">
        <% data.forEach(item=> { %>
            <a href="/news?id=<%= item.news_id %>" class="news-item" style="text-decoration: none; color: inherit;">
                <div>
                    <strong>
                        <%= item.news_id %>. <%= item.news_title %>
                    </strong>
                    <div>
                        <small>
                            <%= item.news_short_description %>
                        </small>
                    </div>
                </div>
            </a>
            <% }) %>
    </div>

    <p class="page-links">
        <% for (let i=0; i < 10; i++) { %>
            <a href="/?p=<%= i %>" class="<%= (i === currentPage) ? 'active' : '' %>">
                <%= i %>
            </a>
            <%= (i < 9) ? '|' : '' %>
                <% } %>
    </p>
</body>

</html>